camera:
{
    resolution = { width = 800; height = 600; };
    position   = { x = 50; y = 100; z = 60; };
    rotation   = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0; # In degree
};

primitives:
{
    objmeshes = (
        {
            path   = "assets/models/nrt.obj";
            scale  = 1.5;
            offset = { x = 0.0; y = 0.0; z = 0.0; };
            translation = { x = 20.0; y = 320.0; z = 60; }; 
            rotation    = { x = 0.0; y = 5.0; z = 0.0; };
            material = {
                type  = "Color";
                color = { r = 180; g = 140; b = 100; };
                #reflectivity = 0.1;
            };
        }
    );

    planes = (
        {
            axis = "Z";
            position = -20;
            #material = {
            #    type = "Chessboard"
            #    scale = 10;
            #};
            material = {
                type = "PerlinNoise";
                scale = 30.0;
                persistence = 0.5;
                octaves = 6;
                color1 = { r = 200; g = 200; b = 200; };
                color2 = { r = 50; g = 50; b = 50; };
            };
        }
    );
};

lights:
{
    ambient = 0.3;
    diffuse = 0.95; 

    # List of point lights
    point = (
        {
            x = 400;
            y = 100;
            z = 500;
        }
    );

    # List of directional lights
    directional = ();
};
